
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="border border-light border-3 container-fluid" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <img src="../assets\calistenia.png" alt="foto"  style="border-right: 2em" >
          <a routerLink="/home" routerLinkActive="active-link" class="nav-link ms-2"><button type="button" class="btn btn-outline-danger">home</button></a>        
          <a routerLink="/pagina1" routerLinkActive="active-link"  class="nav-link ms-5"><button type="button" class="btn btn-outline-danger">pagina1</button></a>
          <a  routerLink="/pagina2" routerLinkActive="active-link" class="nav-link ms-2"><button type="button" class="btn btn-outline-danger">pagina2</button></a>
          <a  routerLink="/pagina3" routerLinkActive="active-link" class="nav-link ms-2"><button type="button" class="btn btn-outline-danger">pagina3</button></a>
          <a  routerLink="/pagina4" routerLinkActive="active-link" class="nav-link ms-2"><button type="button" class="btn btn-outline-danger">pagina4</button></a>
       </ul>
   
    </div>
</nav>
