<h1 class="text-white">Front lever</h1>
<div>
    <p class="text-white">
        El front lever es un ejercicio de calistenia y gimnasia deportiva que se realiza en las barras y anillas manteniendo el cuerpo paralelo al suelo y completamente horizontal desde la cabeza pasando por cadera y rodillas hasta los tobillos. Al ser una palanca frontal requiere mucha fuerza de los músculos del hombro, espalda, pecho, brazos, abdomen, lumbares y glúteos. En su realización se muestra la resistencia muscular de cada uno de estos sectores del cuerpo.

        Se requiere de una posición rígida y apretar todos los músculos de tu cuerpo para poder mantener la firmeza de la línea recta que se crea de pies a cabeza. Este es un movimiento avanzado ya que se genera el esfuerzo máximo al estar paralelo al piso.
        
        Su correcta ejecución sería con las manos colocadas a la anchura de los hombros aproximadamente, ayudándote mayormente de la fuerza del hombro, trapecio y dorsal para lograr obtener esa posición horizontal, además, para evitar lesiones es importante realizar una depresión escapular e intenta la retracción escapular. Es algo casi imposible de conseguir que queden con las escápulas retraídas, es decir, tocándose, ya que la dureza del ejercicio lo impide. Si intentas la retracción tus escápulas quedarán en una posición neutra (correcto). Si no lo intentas, quedarán en posición de protracción por la fuerza de la gravedad (incorrecto).
        
        Es común comenzar a practicar el front lever partiendo de progresiones de menor dificultad. Se empezaría por el tuck front lever (agrupado), seguido del advance tuck front lever (con las piernas en ángulo recto), el front lever a una pierna y el straddle front lever (con las piernas abiertas), aunque es posible incluir otras más. Los atletas más cualificados pueden, por último, complicar el ejercicio realizándolo con un solo brazo.
        </p>   
</div>
 <img src="../assets\wp2346580-calisthenics-wallpapers.jpg" alt="foto">