 <h1 class="text-white">Handstand</h1>
<div>
    <p class="text-white">
        El handstand push-up (press-up) - también llamado push-up vertical (press-up) o push-up invertido (press-up) también llamados "comandos"- es un tipo de ejercicio de push-up donde el el cuerpo se coloca en una parada de manos . Para una verdadera parada de manos, el ejercicio se realiza de pie, sostenido en el aire. Para preparar la fuerza hasta que uno haya construido el equilibrio adecuado, los pies a menudo se colocan contra una pared, se sostienen con un compañero o se aseguran de alguna otra manera para que no se caigan. Las flexiones de manos requieren una fuerza significativa , así como equilibrio y control si se realizan de pie.
        </p>
 </div>
 <img src="../assets\wp2346557-calisthenics-wallpapers.jpg" alt="foto">