<h1 class="text-white">Plancha</h1>
<div>
<p class="text-white">
    Una plancha es una habilidad de gimnasia y calistenia en la que el cuerpo se mantiene paralelo al suelo, mientras se sostiene sobre el suelo con los brazos rectos. Es un movimiento que requiere mucha fuerza y equilibrio .

    Hay muchas variaciones de planche, aunque solo dos están acreditadas en gimnasia artística : el planche straddle y el planche completo. Dependiendo del evento, puede variar de una habilidad B a una D, y debe mantenerse durante al menos dos segundos. Por ejemplo, en las anillas de gimnasia, la plancha a horcajadas es un movimiento B y la plancha completa es un movimiento C. En el piso, straddle/full es A/B. El músculo principal utilizado en este ejercicio es el deltoides anterior, pero los abdominales, el pecho, los hombros, la parte superior de la espalda, la parte inferior de la espalda y los glúteos también juegan un papel importante.
    
    Como la plancha es una posición exigente, los atletas la entrenan con una progresión de movimientos más simples, avanzando a la siguiente cuando han ganado el dominio de las posiciones intermedias. Una progresión de entrenamiento típica generalmente consiste en la parada de rana, la parada de rana avanzada, la plancha doblada, la plancha doblada avanzada, la plancha a horcajadas y luego la plancha completa. Los brazos deben estar bloqueados en todo momento en todas las posiciones, excepto en la posición de rana.  
    </p>
</div>
<img src="../assets\wp2346539-calisthenics-wallpapers.jpg" alt="foto">
