<h1 class="text-white">CALISTENIA</h1>
<div>
    <p class="text-white">La calistenia es un sistema de entrenamiento con ejercicios físicos que se realizan con el propio peso corporal. En su concepto más puro la calistenia se practica sin cargas adicionales.

        El propio cuerpo del deportista es el que ejerce como resistencia trabajando así tanto la fuerza como la capacidad cardiovascular.
        
        Se trata de uno de los deportes más divertidos, técnicos y completos que existen y su nombre se debe al origen griego. La palabra proviene de los términos Kallos (belleza) y Sthenos (fortaleza).
        
        Su objetivo no es otro que el de unir estas dos palabras para trabajar de la mejor forma posible la belleza del cuerpo en movimiento.
        
        La búsqueda de esta armonía hace de la calistenia uno de las disciplinas más técnicas en el mundo del fitness. La precisión y la coordinación en cada movimiento son fundamentales para aumentar la dificultad de los ejercicios y evitar la aparición de inoportunas lesiones.
        
        Como veremos más abajo los principales ejercicios de calistenia centran el interés en el movimiento natural de los grupos musculares y no tanto en la fuerza y la potencia.
        
        La calistenia es perfecta para trabajar además de la fuerza física, la flexibilidad, la agilidad y la coordinación. Una disciplina deportiva que te permite unir cuerpo y mente de una forma muy especial.
        
        Durante años se ha practicado de forma autónoma y en parques de calistenia, pero cada vez son más los gimnasios que también adaptan sus instalaciones a esta creciente modalidad.
        
        Si todavía no tienes muy claro de lo que estoy hablando o te parece que esto de la calistenia es una actividad física sin más te recomiendo que te detengas unos segundos en visualizar este vídeo de Frank Medrano. Uno de los padres de la calistenia moderna y un verdadero pionero en cuanto a innovación de ejercicios se refiere. Alucinante!</p>
</div>
<img src="../assets/wp2346534-calisthenics-wallpapers.jpg" alt="foto">