<div class="container-fluid overflow-hidden text-center mt-4 mb-5 fs-4 border border-light">
    <div class="row gy-2 bg-dark text-center  border-light">
      <div class="col-6">
        <div class="p-3  bg-dark mt-1 mb-1"><p style=color:white><u>Creado por: </u></p><li style=color:white>Nicolas S.</li></div>
      </div>
      <div class="col-6">
        <div class="p-3  bg-dark mt-1 mb-1"><p style=color:white><u>Colaboraciones: </u></p><li style=color:white>BarBarians</li><li style=color:white>BarMonkeys</li></div>
      </div>
      <div class="col-6">
        <div class="p-3  bg-dark mt-1 mb-1 "><p style=color:white><u>Contacto: </u></p><a class="page-link " href="#"><p style=color:rgb(16,153,172)>Ayuda y soporte</p></a> <a class="page-link " href="#"><p style=color:rgb(16,153,172)>Instagram</p></a></div>
      </div>
      <div class="col-6">
        <div class="p-3  bg-dark mt-1 mb-1"><p style=color:white><u>Apartado legal: </u></p><a class="page-link " href="#"><p style=color:rgb(16,153,172)>Condiciones de uso</p></a><a class="page-link " href="#"><p style=color:rgb(16,153,172)>Politicas de privacidad</p></a></div>
      </div>
